[project]
	description = JavaScript skeleton project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lvsezhufu
[access "refs/for/refs/*"]
	read = group user/lvsezhufu
	push = group user/lvsezhufu
	label-Code-Review = -2..+2 group user/lvsezhufu
	label-Verified = -1..+1 group user/lvsezhufu
	rebase = group user/lvsezhufu
	removeReviewer = group user/lvsezhufu
	submit = group user/lvsezhufu
[access "refs/heads/*"]
	read = group user/lvsezhufu
	create = group user/lvsezhufu
	push = +force group user/lvsezhufu
	pushMerge = group user/lvsezhufu
[access "refs/tags/*"]
	push = group user/lvsezhufu
	push = +force group user/lvsezhufu
